/* Gradient:

Geel: #E6E600
Groen: #00ED00

EF3E36 rood voor diagram

A7E522 andere kleuren voor site

FFFD82

FFFD98

5BC0EB */

.header { 
    background: #A7E522;
    width: 100vw;
    height: 6rem;
}

.header p, .header li a{
    color: rgb(40, 40, 40);
}

.header p:hover, .header li:hover{
    font-weight: bold;
    background: #FFFD82;
}

.header-nav li{
    float: left;
    padding: 20px 5px;
}

.header-nav a{
    padding: 20px;
}

.header-login{
    float: right;
}

.header-login p{
    padding: 20px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .header{
        height: 5rem;
    }
    .header li, .header p{
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    .header{
        height: 4.5rem;
    }
    .header li, .header p{
        font-size: 10px;
    }
}


/********************************************************************************************************************************* 
THE FOOTER
**********************************************************************************************************************************/

footer{
    background: #222;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px;
}

footer p{
    font-size: 12px;
}

@keyframes move {
    0%   {color: #fff}
    25%  {transform: rotate(90deg);filter: hue-rotate(10deg)}
    50%  {transform: rotate(180deg);filter:hue-rotate(600deg)}
    75%  {transform: rotate(270deg);filter: hue-rotate(120deg)}
    100% {transform: rotate(360deg);filter: hue-rotate(180deg);}
}

footer i{
    animation: move 5s infinite;
    cursor: pointer;
}

.time-up{
    transform: scale(2);
    animation: none;
}

.digital-time, .digital-time h1{position: fixed;top: 50%;left: 50%;transform: translateX(-50%)translateY(-50%);font-size: 30px;background: red;width: 200px;height: 200px;border-radius: 100%;}

.digital-time h1{z-index: 122;}